html {
  box-sizing: border-box;
  font-size: 16px;
  color: black;
}

li,
ol,
ul {
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.notes__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.notes {
  margin: 5px;
  text-align: center;
  font-size: 1rem;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.nav__list_active {
  color: white;
}

.notes__tags {
  color: blue;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav+.nav {
  margin-left: 15px;
}

span {
  font-size: inherit;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.form__input {
  max-width: 350px;
  margin-bottom: 10px;
}